# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/sharpapi/service/detect-spam).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Detect Spam API
  description: Submit text content for spam screening and poll job status. Returns a score, pass flag,
    and reason for moderation workflows.
  version: 1.0.0
  contact:
    name: SharpAPI
    url: https://apyhub.com/sharpapi/service/detect-spam
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Artificial Intelligence
- name: Data Validation
- name: Marketing
paths:
  /sharpapi/api/v1/content/detect_spam:
    post:
      operationId: postSharpapiApiV1ContentDetectSpam
      summary: Detect Spam API
      description: Submits content for asynchronous spam detection and returns identifiers for checking
        t
      tags: &id001
      - Artificial Intelligence
      - Data Validation
      - Marketing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /sharpapi/api/v1/content/detect_spam/job/status/{job_id}:
    get:
      operationId: getSharpapiApiV1ContentDetectSpamJobStatusJobId
      summary: Detect Spam API
      description: Retrieves the current status of a Detect Spam job by its jobid. The response returns
        a
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 1
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
