# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/namastesumalya/service/resume-screening-api).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Resume Screening API
  description: Score a resume against a job title and get strengths, gaps, verdict, and security risk
    notes. Rank multiple candidates for hiring workflows.
  version: 1.0.0
  contact:
    name: Sumalya APIs
    url: https://apyhub.com/namastesumalya/service/resume-screening-api
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Artificial Intelligence
- name: HR
paths:
  /namastesumalya/api/screen:
    post:
      operationId: postNamastesumalyaApiScreen
      summary: Resume Screening API
      description: Screens a resume against a job title and returns a structured assessment of the candid
      tags: &id001
      - Artificial Intelligence
      - HR
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 300
  /namastesumalya/api/screen-bulk:
    post:
      operationId: postNamastesumalyaApiScreenBulk
      summary: Resume Screening API
      description: Screens multiple resumes against a job title and returns a ranked list of candidate
        re
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
