# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/sharpapi/service/generate-keywords-tags).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Generate Keywords/Tags API
  description: Generate keyword lists from a content string, with optional context, language, voice tone,
    and max quantity. Poll for an async result array.
  version: 1.0.0
  contact:
    name: SharpAPI
    url: https://apyhub.com/sharpapi/service/generate-keywords-tags
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Artificial Intelligence
- name: SEO
- name: Smart Generation
paths:
  /sharpapi/api/v1/content/keywords:
    post:
      operationId: postSharpapiApiV1ContentKeywords
      summary: Generate Keywords/Tags API
      description: Submits an asynchronous job to generate keywords/tags from provided content. The reque
      tags: &id001
      - Artificial Intelligence
      - SEO
      - Smart Generation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /sharpapi/api/v1/content/keywords/job/status/{job_id}:
    get:
      operationId: getSharpapiApiV1ContentKeywordsJobStatusJobId
      summary: Generate Keywords/Tags API
      description: Checks the status of a Generate Keywords Tags background job identified by its job
        ID
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 1
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
