# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/extract-id-data).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: AI Document ID Extraction API
  description: ID Data Extraction lets you send an ID document as a file or by URL and get extracted identity
    data back. Choose the requestedservice value to route the request to apyhub or azure, and, for Azure-backed
    requests, provide the Azure credential fields supported by the endpoint. Use POST /
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/extract-id-data
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Uncategorized
paths:
  /ai/document/extract/id/file:
    post:
      operationId: postAiDocumentExtractIdFile
      summary: AI Document ID Extraction API
      description: Uploads an ID document file and returns parsed extraction results. The response is
        a J
      tags: &id001
      - Uncategorized
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
  /ai/document/extract/id/url:
    post:
      operationId: postAiDocumentExtractIdUrl
      summary: AI Document ID Extraction API
      description: 'Extract id data (URL input) Extract id data (URL input) Analyze id at the provided
        URL. Note: The o'
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
