openapi: 3.2.0
info:
  title: Apyhub Smart Generation API
  version: 1.0.0
  description: 'Operations tagged Smart Generation across 3 of this provider''s published API definitions: apyhub-apyhub-generate-barcode-openapi.yml, apyhub-apyhub-generate-pie-chart-openapi.yml, apyhub-apyhub-generate-stacked-bar-chart-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Smart Generation
paths:
  /generate/barcode/file:
    post:
      operationId: postGenerateBarcodeFile
      summary: Generate Barcode API
      description: Generates a Code128 barcode from the provided text content and returns the result as a
      tags:
      - Smart Generation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 30
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /generate/barcode/url:
    post:
      operationId: postGenerateBarcodeUrl
      summary: Generate Barcode API
      description: Generates a Code128 barcode from the provided content and returns a pre-signed cloud s
      tags:
      - Smart Generation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 30
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /generate/charts/pie/url:
    post:
      operationId: postGenerateChartsPieUrl
      summary: Generate Pie Chart API
      description: Generates a pie chart and returns a pre-signed URL for the rendered chart image. The r
      tags:
      - Smart Generation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 60
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /generate/charts/pie/file:
    post:
      operationId: postGenerateChartsPieFile
      summary: Generate Pie Chart API
      description: Generates a pie chart image from the chart configuration in the request body and retur
      tags:
      - Smart Generation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 60
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /generate/charts/stacked/url:
    post:
      operationId: postGenerateChartsStackedUrl
      summary: Generate Stacked Graph API
      description: Generates a link for a stacked bar chart from the chart configuration in the request b
      tags:
      - Smart Generation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 60
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /generate/charts/stacked/file:
    post:
      operationId: postGenerateChartsStackedFile
      summary: Generate Stacked Graph API
      description: Generates a stacked bar chart image from the chart data you provide in the request bod
      tags:
      - Smart Generation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 60
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
x-refined-from:
- apyhub-apyhub-generate-barcode-openapi.yml
- apyhub-apyhub-generate-pie-chart-openapi.yml
- apyhub-apyhub-generate-stacked-bar-chart-openapi.yml
