# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/generate-video-watermark).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Generate Watermark For Videos Job API
  description: Add text or image watermarks to videos from a URL or file. Poll a job ID for the finished
    video URL when processing completes.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/generate-video-watermark
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: File Conversion
- name: File Manipulation
paths:
  /job/generate/video/watermark/url:
    post:
      operationId: postJobGenerateVideoWatermarkUrl
      summary: Generate Watermark For Videos Job API
      description: Submits an async video watermarking job using a source video URL and watermark setting
      tags: &id001
      - File Conversion
      - File Manipulation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 400
  /job/generate/video/watermark/file:
    post:
      operationId: postJobGenerateVideoWatermarkFile
      summary: Generate Watermark For Videos Job API
      description: Submits a multipart video file job to generate a video watermark. The request sends
        th
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 400
  /job/generate/video/watermark/status/{job_id}:
    get:
      operationId: getJobGenerateVideoWatermarkStatusJobId
      summary: Generate Watermark For Videos Job API
      description: Checks the status of a generate video watermark job by job ID. When the job is success
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 400
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
