# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/convert-csv-to-xml).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Convert CSV to XML API
  description: Convert uploaded CSV files, raw CSV text, or CSV URLs into XML files, inline XML, or signed
    S3 links. Useful for exports and integrations that expect XML.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/convert-csv-to-xml
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Developer Tools
- name: File Conversion
paths:
  /convert/csv-file/xml-file:
    post:
      operationId: postConvertCsvFileXmlFile
      summary: Convert CSV to XML API
      description: Converts an uploaded CSV file into an XML file and returns the result as a downloadabl
      tags: &id001
      - Developer Tools
      - File Conversion
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /convert/csv-raw/xml-url:
    post:
      operationId: postConvertCsvRawXmlUrl
      summary: Convert CSV to XML API
      description: Converts raw CSV content sent in the request body into a file and returns a pre-signed
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /convert/csv-url/xml-file:
    post:
      operationId: postConvertCsvUrlXmlFile
      summary: Convert CSV to XML API
      description: Converts a CSV file from a public URL into a downloadable XML file. The request provid
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /convert/csv-url/xml-raw:
    post:
      operationId: postConvertCsvUrlXmlRaw
      summary: Convert CSV to XML API
      description: Converts a CSV file available at a public URL into an inline XML string. The request
        s
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /convert/csv-file/xml-raw:
    post:
      operationId: postConvertCsvFileXmlRaw
      summary: Convert CSV to XML API
      description: Converts an uploaded CSV file into an inline XML string. The request uploads a single
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /convert/csv-file/xml-url:
    post:
      operationId: postConvertCsvFileXmlUrl
      summary: Convert CSV to XML API
      description: Converts an uploaded CSV file into XML and returns a JSON object containing a pre-sign
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /convert/csv-raw/xml-file:
    post:
      operationId: postConvertCsvRawXmlFile
      summary: Convert CSV to XML API
      description: Converts raw CSV content submitted in the request body into a downloadable XML file.
        T
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /convert/csv-raw/xml-raw:
    post:
      operationId: postConvertCsvRawXmlRaw
      summary: Convert CSV to XML API
      description: Converts a raw CSV payload in the request body into an XML string. The response is
        ret
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /convert/csv-url/xml-url:
    post:
      operationId: postConvertCsvUrlXmlUrl
      summary: Convert CSV to XML API
      description: Converts a CSV file from a publicly accessible URL into XML and returns a pre-signed
        S
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
