# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/sharpapi/service/generate-travel-review-sentiment).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Generate Travel Review Sentiment API
  description: Analyze travel review text asynchronously and get a sentiment score with POSITIVE or similar
    opinion output. Useful for feedback triage and review analytics.
  version: 1.0.0
  contact:
    name: SharpAPI
    url: https://apyhub.com/sharpapi/service/generate-travel-review-sentiment
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Artificial Intelligence
- name: Smart Generation
- name: Travel
paths:
  /sharpapi/api/v1/tth/review_sentiment:
    post:
      operationId: postSharpapiApiV1TthReviewSentiment
      summary: Generate Travel Review Sentiment API
      description: Submits review text for asynchronous travel-review sentiment analysis. The request
        bod
      tags: &id001
      - Artificial Intelligence
      - Smart Generation
      - Travel
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /sharpapi/api/v1/tth/review_sentiment/job/status/{job_id}:
    get:
      operationId: getSharpapiApiV1TthReviewSentimentJobStatusJobId
      summary: Generate Travel Review Sentiment API
      description: Checks the status of a travel review sentiment analysis job by its jobid and returns
        t
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 1
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
