# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/generate-video-thumbnail-job-api).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Generate Thumbnail from Video Job API
  description: Create a thumbnail from a video file or URL, choose the frame time and output size, and
    poll for a result URL.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/generate-video-thumbnail-job-api
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: File Conversion
- name: File Manipulation
paths:
  /job/generate/image-thumbnail/file:
    post:
      operationId: postJobGenerateImageThumbnailFile
      summary: Generate Thumbnail from Video Job API
      description: Submits a video file as a multipart upload to start an asynchronous video thumbnail
        jo
      tags: &id001
      - File Conversion
      - File Manipulation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 400
  /job/generate/image-thumbnail/status/{job_id}:
    get:
      operationId: getJobGenerateImageThumbnailStatusJobId
      summary: Generate Thumbnail from Video Job API
      description: Checks the status of a video thumbnail generation job identified by jobid and returns
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 5
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
  /job/generate/image-thumbnail/url:
    post:
      operationId: postJobGenerateImageThumbnailUrl
      summary: Generate Thumbnail from Video Job API
      description: Submits a video thumbnail generation job using a source video URL and returns a job
        id
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 400
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
