# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/detect-persons).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: AI Video Person Detection API
  description: Detect people in media from a file or URL using Azure or Google. Returns provider-specific
    results in a structured data object.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/detect-persons
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Artificial Intelligence
- name: Image Processing
paths:
  /ai/video/detect/person/url:
    post:
      operationId: postAiVideoDetectPersonUrl
      summary: AI Video Person Detection API
      description: Detects persons in a media file provided by URL and returns a JSON object with a data
      tags: &id001
      - Artificial Intelligence
      - Image Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
  /ai/video/detect/person/file:
    post:
      operationId: postAiVideoDetectPersonFile
      summary: AI Video Person Detection API
      description: Uploads a file to run person detection using either the Azure or Google route, based
        o
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
