# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/generate-video-thumbnail-job).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Generate Video Thumbnail Job API
  description: Clip a video file or video URL into a short output. Set start time, duration, and optional
    size, then poll for a job_id and output URL.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/generate-video-thumbnail-job
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: File Conversion
- name: File Manipulation
paths:
  /job/generate/video-thumbnail/file:
    post:
      operationId: postJobGenerateVideoThumbnailFile
      summary: Generate Video Thumbnail Job API
      description: Submits a video file to start an asynchronous video thumbnail generation job. The endp
      tags: &id001
      - File Conversion
      - File Manipulation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 400
  /job/generate/video-thumbnail/status/{job_id}:
    get:
      operationId: getJobGenerateVideoThumbnailStatusJobId
      summary: Generate Video Thumbnail Job API
      description: Checks the status of a submitted video thumbnail generation job by job ID. It returns
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 5
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
  /job/generate/video-thumbnail/url:
    post:
      operationId: postJobGenerateVideoThumbnailUrl
      summary: Generate Video Thumbnail Job API
      description: Submits an async job to generate a thumbnail from a source video URL. The request body
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 400
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
