# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/apply-watermark-on-pdf).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Apply Watermark on PDF API
  description: Add a text or image watermark to each page of a PDF from an upload or URL. Get the result
    as a download or S3 URL.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/apply-watermark-on-pdf
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: File Manipulation
paths:
  /stamp/pdf/watermark/file:
    post:
      operationId: postStampPdfWatermarkFile
      summary: Apply Watermark on PDF API
      description: Uploads a PDF file, applies a watermark to it, and returns the watermarked PDF as a
        do
      tags: &id001
      - File Manipulation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
  /stamp/pdf/watermark/file/url:
    post:
      operationId: postStampPdfWatermarkFileUrl
      summary: Apply Watermark on PDF API
      description: Uploads a PDF file and returns a URL for the watermarked PDF output. The request can
        i
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
  /stamp/pdf/watermark/url/file:
    post:
      operationId: postStampPdfWatermarkUrlFile
      summary: Apply Watermark on PDF API
      description: Takes a publicly accessible PDF URL and applies a watermark to it, then returns the
        ge
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
  /stamp/pdf/watermark/url:
    post:
      operationId: postStampPdfWatermarkUrl
      summary: Apply Watermark on PDF API
      description: Adds a watermark to a PDF fetched from a URL and returns the URL of the generated wate
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
