# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/sharpapi/service/related-skills-generator).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Related Skills Generator API
  description: Generate related job positions or skills from a role name. Returns ranked results with
    weights via an async job status response.
  version: 1.0.0
  contact:
    name: SharpAPI
    url: https://apyhub.com/sharpapi/service/related-skills-generator
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: HR
- name: Smart Generation
paths:
  /sharpapi/api/v1/hr/related_skills:
    post:
      operationId: postSharpapiApiV1HrRelatedSkills
      summary: Related Skills Generator API
      description: Submits an async job to generate related job positions from a provided role or job
        tit
      tags: &id001
      - HR
      - Smart Generation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /sharpapi/api/v1/hr/related_skills/job/status/{job_id}:
    get:
      operationId: getSharpapiApiV1HrRelatedSkillsJobStatusJobId
      summary: Related Skills Generator API
      description: Checks the status of a previously submitted related-skills generation job using its
        jo
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 1
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
