# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/translate-documents).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Translate Documents API
  description: Translate uploaded documents or document URLs into a target language. Returns translated
    text, translated language, and optional detected language.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/translate-documents
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: File Conversion
- name: Smart Generation
paths:
  /translate/file:
    post:
      operationId: postTranslateFile
      summary: Translate Documents API
      description: Uploads a document file and translates its text into the requested target language.
        Yo
      tags: &id001
      - File Conversion
      - Smart Generation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 150
  /translate/url:
    post:
      operationId: postTranslateUrl
      summary: Translate Documents API
      description: Translates a document fetched from a URL into the target language you provide, and
        ret
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 150
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
