# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/compress-images).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Compress Images API
  description: Compress JPEG, PNG, WebP, GIF, TIFF, and BMP images from a URL or upload. Get a smaller
    file or a signed download link.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/compress-images
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: File Conversion
- name: File Manipulation
paths:
  /processor/image/compress/url/file:
    post:
      operationId: postProcessorImageCompressUrlFile
      summary: Compress Images API
      description: Compresses an image fetched from a public URL and returns the compressed file as binar
      tags: &id001
      - File Conversion
      - File Manipulation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 30
  /processor/image/compress/file-urls:
    post:
      operationId: postProcessorImageCompressFileUrls
      summary: Compress Images API
      description: Compresses an image fetched from a publicly accessible URL and returns a time-limited
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 30
  /processor/image/compress/file:
    post:
      operationId: postProcessorImageCompressFile
      summary: Compress Images API
      description: Compresses an uploaded raster image and returns the compressed file as a binary downlo
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 30
  /processor/image/compress/file/url:
    post:
      operationId: postProcessorImageCompressFileUrl
      summary: Compress Images API
      description: Compresses a raster image uploaded as multipart form data and returns a time-limited
        s
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 30
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
