# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/convert-image-to-pdf).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Convert Images to PDF API
  description: Convert uploaded images, base64 bytes, or image URLs into PDF binaries or signed links.
    Useful for scans, screenshots, and image-based document workflows.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/convert-image-to-pdf
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: File Conversion
paths:
  /convert/image-base64/pdf-url:
    post:
      operationId: postConvertImageBase64PdfUrl
      summary: Convert Images to PDF API
      description: Converts a base64-encoded image into a PDF and returns a signed link to the generated
      tags: &id001
      - File Conversion
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
  /convert/image-file/pdf-file:
    post:
      operationId: postConvertImageFilePdfFile
      summary: Convert Images to PDF API
      description: Converts an uploaded image file into a PDF and returns the resulting PDF as a binary
        d
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
  /convert/image-file/pdf-url:
    post:
      operationId: postConvertImageFilePdfUrl
      summary: Convert Images to PDF API
      description: Converts an uploaded image file into a PDF and returns a signed PDF link in the respon
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
  /convert/image-url/pdf-file:
    post:
      operationId: postConvertImageUrlPdfFile
      summary: Convert Images to PDF API
      description: Converts a remote image referenced by a URL into a PDF and returns the PDF as a binary
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
  /convert/image-url/pdf-url:
    post:
      operationId: postConvertImageUrlPdfUrl
      summary: Convert Images to PDF API
      description: Converts a remote image accessible by URL into a PDF and returns a signed PDF link.
        Yo
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
  /convert/image-base64/pdf-file:
    post:
      operationId: postConvertImageBase64PdfFile
      summary: Convert Images to PDF API
      description: Converts a base64-encoded image into a PDF and returns the PDF as a binary download.
        T
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
