# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/sharpapi/service/parse-invoice).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Invoice Parsing API
  description: Submit invoice files and poll for structured results. Extract buyer, seller, invoice, financial
    totals, and line items from PDFs and images.
  version: 1.0.0
  contact:
    name: SharpAPI
    url: https://apyhub.com/sharpapi/service/parse-invoice
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Data Extraction
- name: Finance
- name: Image Processing
paths:
  /sharpapi/api/v1/finance/parse_invoice:
    post:
      operationId: postSharpapiApiV1FinanceParseInvoice
      summary: Invoice Parsing API
      description: Submits an invoice file for asynchronous parsing and returns identifiers for tracking
      tags: &id001
      - Data Extraction
      - Finance
      - Image Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /sharpapi/api/v1/finance/parse_invoice/job/status/{job_id}:
    get:
      operationId: getSharpapiApiV1FinanceParseInvoiceJobStatusJobId
      summary: Invoice Parsing API
      description: Checks the processing status of an asynchronous invoice parsing job by job ID. When
        th
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 1
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
