openapi: 3.2.0
info:
  title: Apyhub Audio Processing API
  version: 1.0.0
  description: 'Operations tagged Audio Processing across 6 of this provider''s published API definitions: apyhub-apyhub-audio-extract-from-video-openapi.yml, apyhub-apyhub-convert-text-to-speech-openapi.yml, apyhub-apyhub-convert-wav-to-mp3-openapi.yml, apyhub-apyhub-extract-audio-from-video-openapi.yml, apyhub-apyhub-mp3-to-wav-conversion-openapi.yml, apyhub-apyhub-transcribe-speech-to-text-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Audio Processing
paths:
  /job/extract/video/audio/url:
    post:
      operationId: postJobExtractVideoAudioUrl
      summary: Audio Extractor from Video Job API
      description: Submits an async job to extract audio from a video at a source URL. It returns a job i
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 400
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /job/extract/video/audio/file:
    post:
      operationId: postJobExtractVideoAudioFile
      summary: Audio Extractor from Video Job API
      description: Submits a multipart video file for audio extraction and starts an asynchronous job. Th
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 400
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /job/extract/video/audio/status/{job_id}:
    get:
      operationId: getJobExtractVideoAudioStatusJobId
      summary: Audio Extractor from Video Job API
      description: Checks the status of an audio extraction job submitted earlier and returns the current
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 5
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /tts/file:
    post:
      operationId: postTtsFile
      summary: Convert Text to Speech API
      description: Uploads a document file and a selected voice gender, then returns the generated MP3 au
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 750
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /tts/file/url:
    post:
      operationId: postTtsFileUrl
      summary: Convert Text to Speech API
      description: Converts the text content from an uploaded document into speech and returns a signed M
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 750
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /tts/text/file:
    post:
      operationId: postTtsTextFile
      summary: Convert Text to Speech API
      description: Converts the provided text into an MP3 file download. You send the text and a voice ge
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 750
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /tts/text/url:
    post:
      operationId: postTtsTextUrl
      summary: Convert Text to Speech API
      description: Converts the submitted JSON text into a speech audio file and returns a signed MP3 lin
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 750
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /tts/url/file:
    post:
      operationId: postTtsUrlFile
      summary: Convert Text to Speech API
      description: Converts the text content of a document available at a URL into an MP3 audio file. The
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 750
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /tts/url:
    post:
      operationId: postTtsUrl
      summary: Convert Text to Speech API
      description: Extracts text from a document URL and returns a signed MP3 link. You send a document u
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 750
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /convert/audio/wav-file/mp3-file:
    post:
      operationId: postConvertAudioWavFileMp3File
      summary: Convert WAV to MP3 API
      description: Converts an uploaded WAV audio file to MP3 and returns the converted audio as a binary
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /convert/audio/wav-file/mp3-url:
    post:
      operationId: postConvertAudioWavFileMp3Url
      summary: Convert WAV to MP3 API
      description: Converts an uploaded WAV file to MP3 and returns a signed link to the converted audio.
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /convert/audio/wav-url/mp3-file:
    post:
      operationId: postConvertAudioWavUrlMp3File
      summary: Convert WAV to MP3 API
      description: Converts a WAV audio file fetched from a public URL into MP3 and returns the converted
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /convert/audio/wav-url/mp3-url:
    post:
      operationId: postConvertAudioWavUrlMp3Url
      summary: Convert WAV to MP3 API
      description: Converts a WAV audio file fetched from a publicly accessible URL into MP3 and returns
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /extract/video/audio/file:
    post:
      operationId: postExtractVideoAudioFile
      summary: Audio Extractor from Video API
      description: Uploads a video file and returns the extracted audio as a binary file download. You ca
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 550
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /extract/video/audio/file/url:
    post:
      operationId: postExtractVideoAudioFileUrl
      summary: Audio Extractor from Video API
      description: Extracts audio from an uploaded video and returns a JSON object containing a time-limi
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 550
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /extract/video/audio/url/file:
    post:
      operationId: postExtractVideoAudioUrlFile
      summary: Audio Extractor from Video API
      description: Extracts audio from a video provided by URL and returns the resulting audio as a binar
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 550
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /extract/video/audio/url:
    post:
      operationId: postExtractVideoAudioUrl
      summary: Audio Extractor from Video API
      description: Extracts the audio track from a video provided by URL and returns a time-limited signe
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 550
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /convert/audio/mp3-file/wav-file:
    post:
      operationId: postConvertAudioMp3FileWavFile
      summary: Convert MP3 to WAV API
      description: Converts an uploaded MP3 file to WAV format and returns the converted file as a binary
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /convert/audio/mp3-file/wav-url:
    post:
      operationId: postConvertAudioMp3FileWavUrl
      summary: Convert MP3 to WAV API
      description: Converts an uploaded MP3 audio file to WAV format using a multipart request. The respo
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /convert/audio/mp3-url/wav-file:
    post:
      operationId: postConvertAudioMp3UrlWavFile
      summary: Convert MP3 to WAV API
      description: Converts an audio file from a publicly accessible URL into WAV format and returns the
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /convert/audio/mp3-url/wav-url:
    post:
      operationId: postConvertAudioMp3UrlWavUrl
      summary: Convert MP3 to WAV API
      description: Converts an audio file available at a URL into a WAV file. You send the source file UR
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /stt/file:
    post:
      operationId: postSttFile
      summary: Convert Speech to Text API
      description: Uploads a WAV audio file and a language locale, then returns the transcription as a st
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 750
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
  /stt/url:
    post:
      operationId: postSttUrl
      summary: Convert Speech to Text API
      description: Transcribes a WAV audio file from a URL into text. Send the source file URL and langua
      tags:
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 750
    servers:
    - url: https://api.apyhub.com
      description: ApyHub API
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
x-refined-from:
- apyhub-apyhub-audio-extract-from-video-openapi.yml
- apyhub-apyhub-convert-text-to-speech-openapi.yml
- apyhub-apyhub-convert-wav-to-mp3-openapi.yml
- apyhub-apyhub-extract-audio-from-video-openapi.yml
- apyhub-apyhub-mp3-to-wav-conversion-openapi.yml
- apyhub-apyhub-transcribe-speech-to-text-openapi.yml
