# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/sharpapi/service/generate-product-categories).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Generate Product Categories API
  description: Generate category suggestions from product content and poll for results. Returns ranked
    category names with weights for catalog and SKU classification.
  version: 1.0.0
  contact:
    name: SharpAPI
    url: https://apyhub.com/sharpapi/service/generate-product-categories
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Artificial Intelligence
- name: E-commerce Quick Tools
- name: Smart Generation
paths:
  /sharpapi/api/v1/ecommerce/product_categories:
    post:
      operationId: postSharpapiApiV1EcommerceProductCategories
      summary: Generate Product Categories API
      description: Submits a job to generate product categories from the provided product content and
        opt
      tags: &id001
      - Artificial Intelligence
      - E-commerce Quick Tools
      - Smart Generation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /sharpapi/api/v1/ecommerce/product_categories/job/status/{job_id}:
    get:
      operationId: getSharpapiApiV1EcommerceProductCategoriesJobStatusJobId
      summary: Generate Product Categories API
      description: Checks the status of an asynchronous product-category generation job using its job
        ID.
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 1
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
