# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/speech-transcription).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: AI Video Transcriber API
  description: Convert uploaded files or media URLs to text using Azure or Google transcription. Get a
    provider-specific response for speech search, review, and analytics.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/speech-transcription
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Artificial Intelligence
- name: Audio Processing
paths:
  /ai/video/detect/transcribe/file:
    post:
      operationId: postAiVideoDetectTranscribeFile
      summary: AI Video Transcriber API
      description: Uploads an audio file and returns transcription output for the requested speech servic
      tags: &id001
      - Artificial Intelligence
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
  /ai/video/detect/transcribe/url:
    post:
      operationId: postAiVideoDetectTranscribeUrl
      summary: AI Video Transcriber API
      description: Submits a media file URL for speech transcription and routes the request to either
        Azu
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
