# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/convert-html-to-docx).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Convert HTML to Word API
  description: Convert a public HTML URL or uploaded .html/.htm file into DOCX. Return a downloadable
    file or an S3 URL for Word document workflows.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/convert-html-to-docx
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: File Conversion
paths:
  /convert/html-url/doc-url:
    post:
      operationId: postConvertHtmlUrlDocUrl
      summary: Convert HTML to Word API
      description: Converts a publicly accessible HTML page at the provided URL into a DOCX file and retu
      tags: &id001
      - File Conversion
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 120
  /convert/html-file/doc-file:
    post:
      operationId: postConvertHtmlFileDocFile
      summary: Convert HTML to Word API
      description: Converts an uploaded HTML file into a DOCX file and returns the generated document
        as
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 120
  /convert/html-file/doc-url:
    post:
      operationId: postConvertHtmlFileDocUrl
      summary: Convert HTML to Word API
      description: Converts an uploaded HTML file into a DOCX file and returns a JSON object containing
        t
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 120
  /convert/html-url/doc-file:
    post:
      operationId: postConvertHtmlUrlDocFile
      summary: Convert HTML to Word API
      description: Downloads an HTML document from a publicly accessible URL and converts it to a DOCX
        fi
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 120
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
