# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/generate-stacked-bar-chart).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Generate Stacked Graph API
  description: Create stacked bar chart images from titled data arrays with optional colors and layout
    settings. Get a pre-signed URL or binary image for reporting and dashboards.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/generate-stacked-bar-chart
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Smart Generation
paths:
  /generate/charts/stacked/url:
    post:
      operationId: postGenerateChartsStackedUrl
      summary: Generate Stacked Graph API
      description: Generates a link for a stacked bar chart from the chart configuration in the request
        b
      tags: &id001
      - Smart Generation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 60
  /generate/charts/stacked/file:
    post:
      operationId: postGenerateChartsStackedFile
      summary: Generate Stacked Graph API
      description: Generates a stacked bar chart image from the chart data you provide in the request
        bod
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 60
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
