# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/extract-text-from-image).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: AI Image Optical Character Recognition (OCR) API
  description: Extract text from image files or image URLs. Returns structured OCR output via Azure Vision
    Read API or ApyHub OCR for parsing and indexing.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/extract-text-from-image
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Artificial Intelligence
- name: Data Extraction
- name: Image Processing
paths:
  /ai/image/ocr/file:
    post:
      operationId: postAiImageOcrFile
      summary: AI Image Optical Character Recognition (OCR) API
      description: Uploads an image file and extracts text from it. The response returns a data object
        co
      tags: &id001
      - Artificial Intelligence
      - Data Extraction
      - Image Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
  /ai/image/ocr/url:
    post:
      operationId: postAiImageOcrUrl
      summary: AI Image Optical Character Recognition (OCR) API
      description: Extracts text from an image located at a URL and returns the OCR result in a data obje
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
