# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/create-password-protected-zip).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Generate Secure Archives API
  description: Create encrypted ZIP archives from uploaded files or remote URLs. Stream the ZIP or return
    a signed download link for controlled sharing.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/create-password-protected-zip
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: File Manipulation
- name: File Security
- name: Security & Privacy
paths:
  /generate/secure-archive/file-urls/archive-file:
    post:
      operationId: postGenerateSecureArchiveFileUrlsArchiveFile
      summary: Generate Secure Archives API
      description: Creates a password-protected ZIP archive from one or more remote file URLs and streams
      tags: &id001
      - File Manipulation
      - File Security
      - Security & Privacy
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 200
  /generate/secure-archive/file-urls/archive-url:
    post:
      operationId: postGenerateSecureArchiveFileUrlsArchiveUrl
      summary: Generate Secure Archives API
      description: Creates a password-protected ZIP archive from one or more remote file URLs and returns
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 200
  /generate/secure-archive/files/archive-file:
    post:
      operationId: postGenerateSecureArchiveFilesArchiveFile
      summary: Generate Secure Archives API
      description: Creates a password-protected ZIP archive from the uploaded files and streams the resul
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 200
  /generate/secure-archive/files/archive-url:
    post:
      operationId: postGenerateSecureArchiveFilesArchiveUrl
      summary: Generate Secure Archives API
      description: Creates a password-protected ZIP archive from uploaded files and returns a signed URI
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 200
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
