# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/detect-shot-changes).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: AI Video Shot Change Detection API
  description: Analyze a video file or URL and get shot change results back under Azure or Google. Useful
    for scene segmentation, indexing, and review workflows.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/detect-shot-changes
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Artificial Intelligence
- name: Image Processing
paths:
  /ai/video/detect/shot/change/file:
    post:
      operationId: postAiVideoDetectShotChangeFile
      summary: AI Video Shot Change Detection API
      description: Uploads a video file and runs shot change detection using the requested service provid
      tags: &id001
      - Artificial Intelligence
      - Image Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
  /ai/video/detect/shot/change/url:
    post:
      operationId: postAiVideoDetectShotChangeUrl
      summary: AI Video Shot Change Detection API
      description: Detects shot changes for a video file provided by URL and returns a JSON object with
        t
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
