# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/sharpapi/service/summarize-text).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Summarize Text API
  description: Summarize text asynchronously with optional context, language, max length, and voice tone.
    Returns a job ID, status URL, and final summary.
  version: 1.0.0
  contact:
    name: SharpAPI
    url: https://apyhub.com/sharpapi/service/summarize-text
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Artificial Intelligence
- name: Smart Generation
paths:
  /sharpapi/api/v1/content/summarize:
    post:
      operationId: postSharpapiApiV1ContentSummarize
      summary: Summarize Text API
      description: Starts an async text-summarization job. You submit the content and optional processing
      tags: &id001
      - Artificial Intelligence
      - Smart Generation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /sharpapi/api/v1/content/summarize/job/status/{job_id}:
    get:
      operationId: getSharpapiApiV1ContentSummarizeJobStatusJobId
      summary: Summarize Text API
      description: Checks the status of an existing text-summarization job identified by jobid and return
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 1
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
