# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/unarchive-files).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Unarchive Files API
  description: Send a ZIP, RAR, or 7Z file or URL and get signed URLs for each extracted file. Useful
    for upload pipelines and document workflows.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/unarchive-files
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: File Conversion
- name: File Manipulation
paths:
  /extract/archive/file/file-urls:
    post:
      operationId: postExtractArchiveFileFileUrls
      summary: Unarchive Files API
      description: Uploads a local archive file and returns signed URLs for each file extracted from that
      tags: &id001
      - File Conversion
      - File Manipulation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 250
  /extract/archive/url/file-urls:
    post:
      operationId: postExtractArchiveUrlFileUrls
      summary: Unarchive Files API
      description: Extracts a remote archive from a URL and returns signed URLs for each file found insid
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 250
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
