# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/detect-video-brands).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: AI Video Brand/Logo Detection API
  description: Detect brands from a video URL or uploaded file. Returns provider-scoped output for Azure
    or Google based on the service you request.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/detect-video-brands
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Artificial Intelligence
paths:
  /ai/video/detect/brand/url:
    post:
      operationId: postAiVideoDetectBrandUrl
      summary: AI Video Brand/Logo Detection API
      description: Submits a video URL for brand detection and routes the request to either the Azure
        or
      tags: &id001
      - Artificial Intelligence
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
  /ai/video/detect/brand/file:
    post:
      operationId: postAiVideoDetectBrandFile
      summary: AI Video Brand/Logo Detection API
      description: Uploads a video file and runs brand detection using the selected service provider.
        The
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
