# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/sharpapi/service/parse-resume).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Resume Parser API
  description: Parse PDF, DOC, DOCX, TXT, or RTF resumes into structured candidate, work history, and
    education data. Useful for ATS intake and profile enrichment.
  version: 1.0.0
  contact:
    name: SharpAPI
    url: https://apyhub.com/sharpapi/service/parse-resume
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Artificial Intelligence
- name: Data Extraction
- name: HR
paths:
  /sharpapi/api/v1/hr/parse_resume:
    post:
      operationId: postSharpapiApiV1HrParseResume
      summary: Resume Parser API
      description: Submits a resume/CV file for asynchronous AI parsing and returns identifiers you can
        u
      tags: &id001
      - Artificial Intelligence
      - Data Extraction
      - HR
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /sharpapi/api/v1/hr/parse_resume/job/status/{job_id}:
    get:
      operationId: getSharpapiApiV1HrParseResumeJobStatusJobId
      summary: Resume Parser API
      description: Retrieves the current status of an AI resume parsing job by job ID. The response retur
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 1
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
