# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/generate-qr-code).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Generate QR Code API
  description: Create QR codes from text, vCards, or Wi‑Fi details. Download the image or get a pre-signed
    cloud URL, with logo, color, and error-correction options.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/generate-qr-code
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Marketing
- name: Smart Generation
paths:
  /generate/qr-code/file:
    post:
      operationId: postGenerateQrCodeFile
      summary: Generate QR Code API
      description: Generates a QR code and returns it as a downloadable binary file. The request body
        can
      tags: &id001
      - Marketing
      - Smart Generation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 30
  /generate/qr-code/url:
    post:
      operationId: postGenerateQrCodeUrl
      summary: Generate QR Code API
      description: Generates a QR code and returns a JSON object containing a pre-signed cloud storage
        UR
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 30
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
