# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/convert-jpeg-to-webp).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Convert JPEG to WebP API
  description: JPEG to WebP Converter turns a JPEG or JPG image into a WebP file. Send either a public
    image URL or a binary image upload, and choose whether you want the result returned as a downloadable
    file or as a signed URL in the response. Use the URL-based endpoints when the source image alrea
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/convert-jpeg-to-webp
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Uncategorized
paths:
  /convert/image/jpeg/webp/url:
    post:
      operationId: postConvertImageJpegWebpUrl
      summary: Convert JPEG to WebP API
      description: Converts a publicly accessible JPEG image URL into a WebP image and returns the result
      tags: &id001
      - Uncategorized
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 30
  /convert/image/jpeg/webp/file:
    post:
      operationId: postConvertImageJpegWebpFile
      summary: Convert JPEG to WebP API
      description: Converts an uploaded JPEG/JPG image to WebP and returns the resulting file as a binary
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 30
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
