# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/extract-password-protected-archive).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Unarchive Secured Files API
  description: Decrypt uploaded or remote .zip, .rar, or .7z archives with a password. Returns signed
    URLs for each extracted file.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/extract-password-protected-archive
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: File Manipulation
- name: File Security
- name: Security & Privacy
paths:
  /extract/secure-archive/file/file-urls:
    post:
      operationId: postExtractSecureArchiveFileFileUrls
      summary: Unarchive Secured Files API
      description: Extracts a password-protected uploaded archive and returns signed URLs for the files
        i
      tags: &id001
      - File Manipulation
      - File Security
      - Security & Privacy
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 300
  /extract/secure-archive/url/file-urls:
    post:
      operationId: postExtractSecureArchiveUrlFileUrls
      summary: Unarchive Secured Files API
      description: Extracts a password-protected remote archive from a URL using the provided password
        an
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 300
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
