# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/convert-json-to-prisma-schema).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Convert JSON to Prisma Schema API
  description: Convert JSON from a body, file, or URL into Prisma schema text or a .prisma file. Supports
    PostgreSQL, MySQL, SQLite, and MongoDB.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/convert-json-to-prisma-schema
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Developer Tools
- name: Smart Generation
paths:
  /convert/json-url/prisma-url:
    post:
      operationId: postConvertJsonUrlPrismaUrl
      summary: Convert JSON to Prisma Schema API
      description: Converts the JSON resource available at the provided URL into a Prisma schema file
        and
      tags: &id001
      - Developer Tools
      - Smart Generation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /convert/json-file/prisma-raw:
    post:
      operationId: postConvertJsonFilePrismaRaw
      summary: Convert JSON to Prisma Schema API
      description: Converts an uploaded JSON file into a Prisma schema and returns the result as a JSON
        o
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /convert/json-file/prisma-url:
    post:
      operationId: postConvertJsonFilePrismaUrl
      summary: Convert JSON to Prisma Schema API
      description: Converts an uploaded JSON file into a Prisma schema and returns a pre-signed S3 URL
        fo
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /convert/json-raw/prisma-file:
    post:
      operationId: postConvertJsonRawPrismaFile
      summary: Convert JSON to Prisma Schema API
      description: Converts the supplied JSON content into a downloadable Prisma schema (.prisma) file.
        T
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /convert/json-raw/prisma-raw:
    post:
      operationId: postConvertJsonRawPrismaRaw
      summary: Convert JSON to Prisma Schema API
      description: Converts the supplied JSON data into a Prisma schema and returns the generated result
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /convert/json-raw/prisma-url:
    post:
      operationId: postConvertJsonRawPrismaUrl
      summary: Convert JSON to Prisma Schema API
      description: Converts the provided JSON payload into a Prisma schema and returns a pre-signed S3
        UR
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /convert/json-file/prisma-file:
    post:
      operationId: postConvertJsonFilePrismaFile
      summary: Convert JSON to Prisma Schema API
      description: Converts an uploaded JSON file into a downloadable Prisma schema file (.prisma). The
        r
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /convert/json-url/prisma-file:
    post:
      operationId: postConvertJsonUrlPrismaFile
      summary: Convert JSON to Prisma Schema API
      description: Converts the JSON file available at the provided URL into a downloadable Prisma schema
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /convert/json-url/prisma-raw:
    post:
      operationId: postConvertJsonUrlPrismaRaw
      summary: Convert JSON to Prisma Schema API
      description: Converts the JSON document at the provided URL into a Prisma schema and returns the
        ge
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
