# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/convert-video-formats).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Convert Video Formats API
  description: Convert video files from a URL or upload into mp4, mkv, avi, mov, flv, 3gp, or webm. Get
    a download file or a signed cloud link.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/convert-video-formats
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: File Conversion
- name: File Manipulation
paths:
  /convert/video/url:
    post:
      operationId: postConvertVideoUrl
      summary: Convert Video Formats API
      description: Converts a video from the source URL you provide into the requested output format and
      tags: &id001
      - File Conversion
      - File Manipulation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 550
  /convert/video/file:
    post:
      operationId: postConvertVideoFile
      summary: Convert Video Formats API
      description: Converts an uploaded video file to a different container format and returns the conver
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 550
  /convert/video/file/url:
    post:
      operationId: postConvertVideoFileUrl
      summary: Convert Video Formats API
      description: Uploads a video file and returns a time-limited signed download URL for the converted
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 550
  /convert/video/url/file:
    post:
      operationId: postConvertVideoUrlFile
      summary: Convert Video Formats API
      description: Converts a video from a source URL into the requested output format and returns the
        re
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 550
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
