# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/face-detection).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: AI Video Face Detection API
  description: Detect faces from uploaded files or remote URLs using Azure or Google. Returns provider-specific
    results in a data object for media workflows.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/face-detection
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Artificial Intelligence
- name: Image Processing
paths:
  /ai/video/detect/face/file:
    post:
      operationId: postAiVideoDetectFaceFile
      summary: AI Video Face Detection API
      description: Detects faces from an uploaded file and routes the request to either Azure or Google
        b
      tags: &id001
      - Artificial Intelligence
      - Image Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
  /ai/video/detect/face/url:
    post:
      operationId: postAiVideoDetectFaceUrl
      summary: AI Video Face Detection API
      description: Detects faces in a media file fetched from a URL. You send the media URL and choose
        wh
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
