# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/sharpapi/service/generate-seo-tags).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: SEO Tags Generator API
  description: Generate SEO meta tags from page content, with optional language and voice tone. Returns
    a job ID, status URL, and meta_tags for publishing.
  version: 1.0.0
  contact:
    name: SharpAPI
    url: https://apyhub.com/sharpapi/service/generate-seo-tags
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Marketing
- name: SEO
- name: Smart Generation
paths:
  /sharpapi/api/v1/seo/generate_tags:
    post:
      operationId: postSharpapiApiV1SeoGenerateTags
      summary: SEO Tags Generator API
      description: Submits content to generate SEO tags asynchronously. The request body includes the
        sou
      tags: &id001
      - Marketing
      - SEO
      - Smart Generation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /sharpapi/api/v1/seo/generate_tags/job/status/{job_id}:
    get:
      operationId: getSharpapiApiV1SeoGenerateTagsJobStatusJobId
      summary: SEO Tags Generator API
      description: Checks the status of an asynchronous SEO tag generation job identified by jobid. When
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 1
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
