# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/detect-common-visual-objects).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: AI Image Objects Detection API
  description: Detect common objects from an uploaded image or image URL. Returns provider-specific results
    for Azure, Google, or ApyHub vision detectors.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/detect-common-visual-objects
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Artificial Intelligence
paths:
  /ai/image/detect/object/file:
    post:
      operationId: postAiImageDetectObjectFile
      summary: AI Image Objects Detection API
      description: Detect common visual objects (file upload) Uploads a file and runs common object detection
        against
      tags: &id001
      - Artificial Intelligence
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
  /ai/image/detect/object/url:
    post:
      operationId: postAiImageDetectObjectUrl
      summary: AI Image Objects Detection API
      description: Detects common visual objects in an image referenced by URL. You provide the image
        URL
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
