# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/detect-explicit-or-sensitive-content).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: AI Image Explicit Content Detection API
  description: Scan image files or URLs for explicit or sensitive content. Returns provider-specific results
    from ApyHub, Azure, or Google for moderation workflows.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/detect-explicit-or-sensitive-content
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Artificial Intelligence
- name: File Security
- name: Image Processing
paths:
  /ai/image/detect/explicit-content/file:
    post:
      operationId: postAiImageDetectExplicitContentFile
      summary: AI Image Explicit Content Detection API
      description: Uploads a file to detect explicit or sensitive content and returns provider-specific
        r
      tags: &id001
      - Artificial Intelligence
      - File Security
      - Image Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
  /ai/image/detect/explicit-content/url:
    post:
      operationId: postAiImageDetectExplicitContentUrl
      summary: AI Image Explicit Content Detection API
      description: Detects explicit or sensitive content from a URL. You send a url in the request body
        a
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
