# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/extract-video-metadata).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Extract Video Metadata API
  description: Read metadata from a video file or URL and get nested audio, video, and file details in
    JSON for validation, indexing, or processing.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/extract-video-metadata
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Data Extraction
- name: File Conversion
- name: File Manipulation
paths:
  /video/metadata/file:
    post:
      operationId: postVideoMetadataFile
      summary: Extract Video Metadata API
      description: Uploads a video file and returns a JSON response containing extracted metadata in a
        au
      tags: &id001
      - Data Extraction
      - File Conversion
      - File Manipulation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 250
  /video/metadata/url:
    post:
      operationId: postVideoMetadataUrl
      summary: Extract Video Metadata API
      description: Extracts metadata from a video available at a URL and returns it in a JSON response.
        T
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 250
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
