# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/add-header-footer-to-docx).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Apply Headers and Footers on DOCX API
  description: Add text or PNG headers and footers to DOCX files, from upload or URL. Return a modified
    document or a downloadable URL.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/add-header-footer-to-docx
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: File Conversion
- name: File Manipulation
paths:
  /stamp/docx/footers/file:
    post:
      operationId: postStampDocxFootersFile
      summary: Apply Headers and Footers on DOCX API
      description: Uploads a DOCX file, adds the requested header/footer content to it, and returns the
        m
      tags: &id001
      - File Conversion
      - File Manipulation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
  /stamp/docx/footers/file/url:
    post:
      operationId: postStampDocxFootersFileUrl
      summary: Apply Headers and Footers on DOCX API
      description: Uploads a DOCX file, adds header and/or footer content to it, and returns a URL to
        the
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
  /stamp/docx/footers/url/file:
    post:
      operationId: postStampDocxFootersUrlFile
      summary: Apply Headers and Footers on DOCX API
      description: Adds a header and/or footer to a DOCX file fetched from a public URL, then returns
        the
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
  /stamp/docx/footers/url:
    post:
      operationId: postStampDocxFootersUrl
      summary: Apply Headers and Footers on DOCX API
      description: Adds a header and/or footer to a DOCX file provided by URL, then returns a JSON object
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
