# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/ai-detect-audio-language).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: AI Audio Language Detection API
  description: Detect the spoken language in an audio file or public audio URL. Returns a locale code
    and confidence score for routing transcription and voice workflows.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/ai-detect-audio-language
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Artificial Intelligence
- name: Audio Processing
paths:
  /ai/audio/detect/language/file:
    post:
      operationId: postAiAudioDetectLanguageFile
      summary: AI Audio Language Detection API
      description: Detects the language of an uploaded audio file. The request sends an audio file binary
      tags: &id001
      - Artificial Intelligence
      - Audio Processing
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
  /ai/audio/detect/language/url:
    post:
      operationId: postAiAudioDetectLanguageUrl
      summary: AI Audio Language Detection API
      description: Detects the language of an audio file provided as a publicly accessible URL and return
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
