# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/sharpapi/service/generate-thank-you-email).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Generate Thank You E-mail API
  description: Generate a thank-you email from a brief, with optional language, length, context, and tone
    controls. Returns a job ID, status URL, and finished email.
  version: 1.0.0
  contact:
    name: SharpAPI
    url: https://apyhub.com/sharpapi/service/generate-thank-you-email
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Communications
- name: Smart Generation
paths:
  /sharpapi/api/v1/ecommerce/thank_you_email:
    post:
      operationId: postSharpapiApiV1EcommerceThankYouEmail
      summary: Generate Thank You E-mail API
      description: Submits an asynchronous job to generate a thank-you email from the supplied content
        an
      tags: &id001
      - Communications
      - Smart Generation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /sharpapi/api/v1/ecommerce/thank_you_email/job/status/{job_id}:
    get:
      operationId: getSharpapiApiV1EcommerceThankYouEmailJobStatusJobId
      summary: Generate Thank You E-mail API
      description: Retrieves the current status of a Generate Thankyou Email job identified by its jobid.
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 1
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
