# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/convert-html-content-to-pdf).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Convert HTML Content to PDF API
  description: Convert an HTML content string into a PDF download or signed link. Useful for invoices,
    reports, and other HTML-based documents.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/convert-html-content-to-pdf
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: File Conversion
- name: Smart Generation
paths:
  /generate/html-content/pdf-file:
    post:
      operationId: postGenerateHtmlContentPdfFile
      summary: Convert HTML Content to PDF API
      description: Converts the provided HTML content string into a PDF and returns the generated file
        as
      tags: &id001
      - File Conversion
      - Smart Generation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /generate/html-content/pdf-url:
    post:
      operationId: postGenerateHtmlContentPdfUrl
      summary: Convert HTML Content to PDF API
      description: Renders the provided HTML content string into a PDF and returns a signed link to the
        g
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
