# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/convert-spreadsheet-to-pdf).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Convert Spreadsheets to PDF API
  description: Convert spreadsheet uploads, URLs, or base64 bytes to PDF. Get binary downloads or signed
    links for Excel, XLSX, and ODS files.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/convert-spreadsheet-to-pdf
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: File Conversion
paths:
  /convert/spreadsheet-file/pdf-url:
    post:
      operationId: postConvertSpreadsheetFilePdfUrl
      summary: Convert Spreadsheets to PDF API
      description: Converts an uploaded spreadsheet file to PDF and returns a signed URL to the generated
      tags: &id001
      - File Conversion
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
  /convert/spreadsheet-url/pdf-file:
    post:
      operationId: postConvertSpreadsheetUrlPdfFile
      summary: Convert Spreadsheets to PDF API
      description: Converts a spreadsheet available at a remote URL into a PDF and returns the generated
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
  /convert/spreadsheet-url/pdf-url:
    post:
      operationId: postConvertSpreadsheetUrlPdfUrl
      summary: Convert Spreadsheets to PDF API
      description: Converts a remotely hosted spreadsheet file, provided as a URL, into a PDF and returns
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
  /convert/spreadsheet-base64/pdf-file:
    post:
      operationId: postConvertSpreadsheetBase64PdfFile
      summary: Convert Spreadsheets to PDF API
      description: Converts a base64-encoded spreadsheet into a PDF file and returns the result as a bina
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
  /convert/spreadsheet-base64/pdf-url:
    post:
      operationId: postConvertSpreadsheetBase64PdfUrl
      summary: Convert Spreadsheets to PDF API
      description: Converts a base64-encoded spreadsheet file into a PDF and returns a signed link to
        the
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
  /convert/spreadsheet-file/pdf-file:
    post:
      operationId: postConvertSpreadsheetFilePdfFile
      summary: Convert Spreadsheets to PDF API
      description: Uploads a spreadsheet file and returns a PDF download generated from that file. The
        re
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 100
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
