# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/boomlify/service/temporary-and-disposable-emails-api).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Temporary and Disposable Emails API
  description: Temporary Email gives you disposable email addresses you can create, read from, and delete
    through a simple API. Use it when you need a short-lived inbox for signups, verification flows, QA,
    or any workflow where you do not want to expose a primary address. The service exposes three ac
  version: 1.0.0
  contact:
    name: Boomlify
    url: https://apyhub.com/boomlify/service/temporary-and-disposable-emails-api
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Uncategorized
paths:
  /boomlify/emails/create:
    post:
      operationId: postBoomlifyEmailsCreate
      summary: Temporary and Disposable Emails API
      description: Creates a temporary email address. You can control the email lifetime with the time
        qu
      tags: &id001
      - Uncategorized
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 25
  /boomlify/emails/messages/{id}:
    get:
      operationId: getBoomlifyEmailsMessagesId
      summary: Temporary and Disposable Emails API
      description: Retrieves email messages for the email address identified by the path id. The response
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 25
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
  /boomlify/emails/{id}:
    delete:
      operationId: deleteBoomlifyEmailsId
      summary: Temporary and Disposable Emails API
      description: Deletes a temporary email identified by its UUID path parameter. The response returns
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 25
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
