# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/generate-thumbnail).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Generate Image Thumbnails API
  description: Create thumbnails from an uploaded image or image URL. Set width and height, and get binary
    output or a signed URL back.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/generate-thumbnail
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: File Manipulation
paths:
  /generate/image/thumbnail/file/url:
    post:
      operationId: postGenerateImageThumbnailFileUrl
      summary: Generate Image Thumbnails API
      description: Generates a thumbnail from an uploaded image file and returns a JSON object containing
      tags: &id001
      - File Manipulation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 30
  /generate/image/thumbnail/url/file:
    post:
      operationId: postGenerateImageThumbnailUrlFile
      summary: Generate Image Thumbnails API
      description: Downloads an image from a URL and generates a thumbnail using the width and height
        que
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 30
  /generate/image/thumbnail/file-urls:
    post:
      operationId: postGenerateImageThumbnailFileUrls
      summary: Generate Image Thumbnails API
      description: Generates a thumbnail from a source image URL. The request sends the image URL in the
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 30
  /generate/image/thumbnail/file:
    post:
      operationId: postGenerateImageThumbnailFile
      summary: Generate Image Thumbnails API
      description: Generates a thumbnail from an uploaded image and returns the resulting file as binary
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 30
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
