# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/apyhub/service/generate-ical-event).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Generate iCal API
  description: Generate downloadable .ics files or signed links from event details, with reminders, recurrence,
    all-day events, and time zone support.
  version: 1.0.0
  contact:
    name: ApyHub
    url: https://apyhub.com/apyhub/service/generate-ical-event
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Developer Tools
- name: Standard Data
paths:
  /generate/ical/file:
    post:
      operationId: postGenerateIcalFile
      summary: Generate iCal API
      description: Generates an iCal event file for the provided event details and returns it as a binary
      tags: &id001
      - Developer Tools
      - Standard Data
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /generate/ical/url:
    post:
      operationId: postGenerateIcalUrl
      summary: Generate iCal API
      description: Generates an iCal event file and returns a signed cloud URL to download the resulting
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
