# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/namastesumalya/service/summarize-multiple-article-insights-api).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Summarize Multiple Article Insights API
  description: Summarize one article or batch article URLs from body.urls. Useful for digests, research
    workflows, and content review.
  version: 1.0.0
  contact:
    name: Sumalya APIs
    url: https://apyhub.com/namastesumalya/service/summarize-multiple-article-insights-api
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Artificial Intelligence
- name: Smart Generation
paths:
  /namastesumalya/api/summarize:
    get:
      operationId: getNamastesumalyaApiSummarize
      summary: Summarize Multiple Article Insights API
      description: Summarizes the article at the provided URL and returns article metadata along with
        the
      tags: &id001
      - Artificial Intelligence
      - Smart Generation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 1000
  /namastesumalya/api/batch-summarize:
    post:
      operationId: postNamastesumalyaApiBatchSummarize
      summary: Summarize Multiple Article Insights API
      description: Summarizes multiple articles in a single POST request. Send an array of article URLs
        i
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 1500
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
