# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/namastesumalya/service/extract-metadata-from-url-api).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Extract Metadata From URL API
  description: Extract metadata from a single URL or a batch of URLs. Useful for link previews, crawling,
    SEO audits, and content indexing.
  version: 1.0.0
  contact:
    name: Sumalya APIs
    url: https://apyhub.com/namastesumalya/service/extract-metadata-from-url-api
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Data Extraction
- name: SEO
paths:
  /namastesumalya/api/extract/metadata-only:
    get:
      operationId: getNamastesumalyaApiExtractMetadataOnly
      summary: Extract Metadata From URL API
      description: Extracts metadata from the URL you provide and returns the discovered page/article
        fie
      tags: &id001
      - Data Extraction
      - SEO
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 300
    post:
      operationId: postNamastesumalyaApiExtractMetadataOnly
      summary: Extract Metadata From URL API
      description: Extracts metadata for multiple URLs in a single request and returns an array of metada
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 500
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
