# Derived by API Evangelist from ApyHub's own published service documentation
# (https://apyhub.com/llms.txt -> https://apyhub.com/sharpapi/service/generate-product-introduction).
# Paths verified callable against https://api.apyhub.com (401 = exists + gated).
# Request/response schemas are NOT published by ApyHub and are deliberately omitted.
openapi: 3.1.0
info:
  title: Generate Product Introduction API
  description: Generate a product introduction from content, with language, length, and tone options.
    Poll a job status URL and receive the finished product_intro.
  version: 1.0.0
  contact:
    name: SharpAPI
    url: https://apyhub.com/sharpapi/service/generate-product-introduction
servers:
- url: https://api.apyhub.com
  description: ApyHub API
security:
- apyToken: []
tags:
- name: Artificial Intelligence
- name: Marketing
- name: Smart Generation
paths:
  /sharpapi/api/v1/ecommerce/product_intro:
    post:
      operationId: postSharpapiApiV1EcommerceProductIntro
      summary: Generate Product Introduction API
      description: Submits a job to generate a product introduction from the provided content. The endpoi
      tags: &id001
      - Artificial Intelligence
      - Marketing
      - Smart Generation
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 50
  /sharpapi/api/v1/ecommerce/product_intro/job/status/{job_id}:
    get:
      operationId: getSharpapiApiV1EcommerceProductIntroJobStatusJobId
      summary: Generate Product Introduction API
      description: Checks the status of a product-introduction generation job by job ID. The response
        ret
      tags: *id001
      responses:
        '200':
          description: Successful response
        '401':
          description: Missing or invalid API key
      x-apyhub-atoms: 1
      parameters:
      - name: job_id
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    apyToken:
      type: apiKey
      in: header
      name: apy-token
